<div class="container">
   <div class="logo">
      <img src="https://upload.wikimedia.org/wikipedia/fr/c/c2/Logo_ENICarthage.jpg">
    </div>
    
      <h1 style="font-size: 140px;;"><b>Plateforme </b> <br> <b> ENICarthage </b></h1>
    
      <div class="agenda">
        <h2>Agenda</h2>
        <ul>
           <li>01/05/2023 - Événement 1</li>
           <li>02/05/2023 - Événement 2</li>
           <li>03/05/2023 - Événement 3</li>
        </ul>
      </div>
   <!--
     <div class="contact-list">
      <h2>Contact</h2>
       <ul>
         <li>( +216 ) 71 940 699 / ( +216 ) 71 940 775</li>
         <li>( +216 ) 71 941 579</li>
         <li>enicarthage@enicarthage.rnu.tn</li>
         <li>45 Rue des Entrepreneurs 2035 Charguia II Tunis- Carthage-Tunisie</li>
        </ul>
      </div> -->
    
  </div>