
<div>
    <form>
      <input matInput type="text" placeholder="name" [(ngModel)]="matiere.nomMat">
    </form>
      <form>
        <input matInput type="number" placeholder="DS" [(ngModel)]="matiere.ds">
      </form>
   
      <form>
        <input matInput type="number" placeholder="TP" [(ngModel)]="matiere.tp">
      </form>
    
      <form>
        <input matInput type="number" placeholder="Examen" [(ngModel)]="matiere.examen">
      </form>
    
      <button mat-raised-button>Submit</button>
    </div>
    
  